@page "/TaskStatus"

@inherits ItemViewModel

<h3>TaskStatusPage</h3>
<div class="d-flex justify-content-between mb-1">
    <div class="row">
        <span class="btn btn-nav" @onclick="@(e=>CreateItem())">Hinzufügen</span>
    </div>
    @*<div class="form-inline float-right align-items-center mb-1">
            <input style="width:150px" type="text" class="form-control form-control-sm mr-2" placeholder="Bezeichnung.." @bind-value="@TasknameFiltr" @onkeyup="@HandleKeyUp" />
        </div>
        <div class="form-inline float-right align-items-center mb-1">
            <select @bind="BezeichnungFiltr">
                <option value="0">TaskName</option>
                @foreach (var selectValue in Model)
                {
                    <option value="@selectValue.TaskId">
                        @selectValue.TaskName
                    </option>
                }
            </select>*@

</div>
@*</div>*@
@if (StatusModel != null)
{
    <table class="table  table-sm mt-2">
        <thead>
            <tr>
                <th>TaskStatusId</th>
                <th style="text-align:center"><SortIcon Column="StatusName" Title="StatusName" Sort="@Sort"></SortIcon></th>
                <th style="text-align:center"><SortIcon Column="OrderId" Title="OrderId" Sort="@Sort"></SortIcon></th>
                <th style="text-align:center"><SortIcon Column="Count" Title="Count" Sort="@Sort"></SortIcon></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in StatusModel)
            {
            <tr>
                <td>@i.TaskStatusId</td>
                <td style="text-align:center">
                    @i.StatusName
                </td>

                <td width="500" style="text-align:center">
                    @i.OrderId
                </td>
                <td style="text-align:center">
                    @i.Count
                </td>
                @if (i.IsVisible)
                {
                    <td width="100" align="center">
                        <i class="btn glyphicon glyphicon-ok-circle" @onclick="@(() =>ChangeVisible(i))"></i>
                    </td>

                }
                else
                {
                    <td width="100" align="center">
                        <i class="btn glyphicon glyphicon-ok-circle"style="color:red " @onclick="@(() => ChangeVisible(i))"></i>
                    </td>

                }
                <td width="100" align="center">
                    <i class="btn glyphicon glyphicon-edit " @onclick="@(() => Edit(i))"></i>
                </td>
                @if (i.Count == 0)
                {
                    <td width="63">
                        <i class="btn glyphicon glyphicon-remove-circle cursor align-middle" @onclick="@(() => Remove(i))" disabled></i>
                    </td>
                }
                else
                {
                    <td width="63">
                        <i class="btn glyphicon glyphicon-remove-circle cursor align-middle" @onclick="@(() => Remove(i))"></i>
                    </td>
                }

            </tr>
            }

        </tbody>
    </table>

}

@if (mEditViewModel.DialogIsOpen != null && mCurrentItem != null)

{
    <EditTaskStatusPage ViewModel="@mEditViewModel" Save="@Save" Reload="@Reload" />
    <ConfirmationDialog Model=@ConfirmDialogModel Answer="@ConfirmRemove"></ConfirmationDialog>
}