@page "/BoardStatus"
@using TaskAlfa.Pages.Task
@inherits ItemViewModel

<h3>Board</h3>
<div class="row">
    @foreach (var item in StatusModel.OrderBy(x => x.OrderId).ToList())
    {
        @if (item.IsVisible)
        {
            var count = 0;
            <div class="col" style="width:200px">
                <SortIcon Column="@item.StatusName" Title="@item.StatusName" Sort="@Sort"></SortIcon>
                <i class="btn glyphicon glyphicon-plus" @onclick="@(() => CreateItem(item.TaskStatusId))"></i>
                @foreach (var y in BoardItem)
                {
                    @if (y.Key == item.TaskStatusId)
                    {
                        @foreach (var i in y.Value.Where(x => x.TaskStatusId == y.Key).ToList())
                        {
                            count++;
                        }
                    }
                }
                @if (count != 0)
                {
                    <span>(@count)</span>
                }
                <select class="form" style="margin-left:5px">
                    <option>Visible</option>
                    <option @onclick="@(e => Visible(item))">InVisible</option>
                </select>
            </div>
        }
    }
</div>
<div class="row">
    @foreach (var y in StatusModel.OrderBy(x => x.OrderId).ToList())
    {
        @if (y.IsVisible)
        {
            <div class="col" style="width:auto">
                @foreach (var item in BoardItem)
                {
                    @if (item.Key == y.TaskStatusId)
                        @foreach (var i in item.Value.Where(x => x.TaskStatusId == item.Key).ToList())
                        {
                            <div @ondblclick="@(() => Edit(i))" style="width: -moz-available;display: inline-block;">
                                <MatCard style="margin-bottom:10px" Class="fullsize">
                                    <MatCardContent>
                                        <MatHeadline6 class="p-1 mb-0">
                                            <div class="row">
                                                <div class="col-7 p-0" style="font-size:14px">
                                                    @i.TaskName
                                                </div>
                                                @foreach (var y in DocumentModel.Where(x => x.TaskId == i.TaskId).ToList())
                                                {
                                                    i.Filename = i.Filename + y.FileName + "; ";
                                                }
                                                <div class="col-5 text-right p-0">
                                                    <i class="btn glyphicon glyphicon-file " title="@i.Filename" @onclick="@(() => {AddModel.TaskId = i.TaskId;dialogIsOpenAdd = true;updateOrCreateDilog.IsOpenUpdateOrCreate = true;})"></i>
                                                    <i class="btn glyphicon glyphicon-edit " @onclick="@(() => Edit(i))"></i>
                                                    <i class="btn glyphicon glyphicon-trash cursor" @onclick="@(() => Remove(i))"></i>
                                                </div>
                                            </div>
                                        </MatHeadline6>
                                        <MatBody2 class="p-1 mb-0 pt-0">
                                            <div class="row">
                                                <div class="col-7 p-0">
                                                    <span style="margin-right:15px">@i.PlanDuration </span>
                                                    @i.RealDuration
                                                </div>
                                                @if (i.Description == null || i.Description == "")
                                                {
                                                }
                                                else
                                                {
                                                    <div class="col-5 text-right p-0" title="@i.Description">
                                                        <i class="glyphicon glyphicon-comment"></i>
                                                    </div>
                                                }
                                            </div>
                                        </MatBody2>
                                    </MatCardContent>
                                </MatCard>
                            </div>
                        }
                }
            </div>
        }
    }

</div>
@if (mEditViewModel.DialogIsOpen != null && mCurrentItem != null)
{
    <EditTask ViewModel="@mEditViewModel" Save="@Save" Reload="@Reload" />
    <ConfirmationDialog Model=@ConfirmDialogModel Answer="@ConfirmRemove"/>
}
@if (dialogIsOpenAdd)
{   
    <AddFile SaveItem="@mEditViewModel.CreateOrUpdate" AddModel="@AddModel" dialogIsOpen="@DialogClose"></AddFile>
    <UpdateOrCreateDilog ModelDilog=@updateOrCreateDilog Answer="@mEditViewModel.ConfirmCeate"></UpdateOrCreateDilog>
}
@code{
    
    public void DialogClose()
    {
        dialogIsOpenAdd = false;
    }
}